In [1]:
import pandas as pd

In [2]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [3]:
costs = df['Cost']
costs

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [4]:
costs+=2
costs

Store 1    24.5
Store 1     4.5
Store 2     7.0
Name: Cost, dtype: float64

In [5]:
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  24.5
Store 1  Kevyn   Kitty Litter   4.5
Store 2  Vinod      Bird Seed   7.0

In [7]:
!cat Sample_Data.csv

column_a,column_b,column_c
1,1,10
2,4,8
3,9,6
4,16,4
5,25,2

In [9]:
df = pd.read_csv('Sample_Data.csv')
df.head()

   column_a  column_b  column_c
0         1         1        10
1         2         4         8
2         3         9         6
3         4        16         4
4         5        25         2

In [13]:
df = pd.read_csv('Sample_Data.csv', index_col = 0, skiprows=1)
df.head()

   1.1  10
1
2    4   8
3    9   6
4   16   4
5   25   2

In [14]:
df.columns

Index(['1.1', '10'], dtype='object')

In [19]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

   1.1  10
1
2    4   8
3    9   6
4   16   4
5   25   2