In [6]:
import pandas as pd

In [7]:
import matplotlib.pyplot as plt

In [9]:
 df = pd.read_csv("countries.csv")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 3 columns):
country       1704 non-null object
year          1704 non-null int64
population    1704 non-null int64
dtypes: int64(2), object(1)
memory usage: 40.0+ KB

In [12]:
df.head(10)

       country  year  population
0  Afghanistan  1952     8425333
1  Afghanistan  1957     9240934
2  Afghanistan  1962    10267083
3  Afghanistan  1967    11537966
4  Afghanistan  1972    13079460
5  Afghanistan  1977    14880372
6  Afghanistan  1982    12881816
7  Afghanistan  1987    13867957
8  Afghanistan  1992    16317921
9  Afghanistan  1997    22227415