# Project 2 Country Population

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("countries.csv")

In [3]:
df.set_index("country", inplace = True)

In [19]:
df.loc["Pakistan"]

          year  population
country
Pakistan  1952    41346560
Pakistan  1957    46679944
Pakistan  1962    53100671
Pakistan  1967    60641899
Pakistan  1972    69325921
Pakistan  1977    78152686
Pakistan  1982    91462088
Pakistan  1987   105186881
Pakistan  1992   120065004
Pakistan  1997   135564834
Pakistan  2002   153403524
Pakistan  2007   169270617