In [72]:
import mysql.connector

In [73]:
mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "Smash666",
database = "testdb"
)

In [74]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000178F289B940>

In [75]:
mycursor = mydb.cursor()

In [81]:
mycursor.execute("CREATE TABLE teachers(name VARCHAR(255), Age INTEGER(10), department VARCHAR(20))")

In [82]:
for db in mycursor:
    print(db)

In [83]:
mycursor.execute("SHOW TABLES")

In [98]:
for tb in mycursor:
    print(tb)

In [99]:
sqlformula = "INSERT INTO students(name , age) VALUES(%S, %S)"

In [100]:
student1 = ("ALI" , 22)
teacher1 = ("AHmed" , 40)

In [102]:
mycursor.execute(sqlformula, student1)
mycursor.execute(sqlformula, teacher1)

ProgrammingError: Not all parameters were used in the SQL statement

In [89]:
mydb.commit()