# ----------------------------Al-Mahdi Fast Technologies----------------------------

# Variable Types:
###  standard data types in Python:
#### Number
#### String
#### List
#### Tuple
#### Dictionary
#### Set

## Numbers

#### Number data types store numeric values. Number objects are created when you assign a value to them.

In [79]:
# Integer
x =100
x

100

In [80]:
type(x)

int

In [81]:
# Float
y =5.55
y

5.55

In [82]:
type(y)

float

In [83]:
#Complex
z = 25j
z

25j

In [84]:
type(z)

complex

In [85]:
# Boolean
a =4<5
a

True

In [86]:
type(a)

bool

In [89]:
num = 5.5
num1 = int(num)
num1

5

# String

#### Strings are sequences of character data.

#### String literals may be delimited using either single or double quotes.

In [92]:
x = "hello"
y = 'world'
print(x)
print(y)

hello
world

In [93]:
type(x)

str

In [94]:
type(y)

str

# List
### A list is a data structure in Python that is changeable, ordered sequence of elements

In [95]:
mylist = [30,10,10,"name","city"]
mylist

[30, 10, 10, 'name', 'city']

In [96]:
type(mylist)

list

# Tuple
### Tuples are sequences, just like lists
### differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [98]:
t =(2,3,3,"AFT")
t

(2, 3, 3, 'AFT')

In [99]:
type(t)

tuple

# Dictionary
### Dictionary in Python is an unordered collection of data values
### Dictionary holds key:value pair.
### Each key-value pair in a Dictionary is separated by a colon :
### Whereas each key is separated by a ‘comma’.

In [101]:
D = {1:"datascience", 2:"Python"}
D

{1: 'datascience', 2: 'Python'}

In [102]:
D[1]

'datascience'

In [103]:
D[2]

'Python'

In [104]:
type(D)

dict

# Set
### A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.

In [109]:
s = {2,4,4,3,"number"}
s

{2, 3, 4, 'number'}

In [111]:
type(s)

set