# ----------------------Al-Mahdi Fast Technologies----------------------

# Variable Types:
###  standard data types in Python:

# Numbers

### Number data types store numeric values. Number objects are created when you assign a value to them.

In [7]:
x =100   #integer
y =5.55  # Float
z = 25j  #complex
a =4<5   # Boolean

In [47]:
type(x)

int

In [48]:
type(y)

float

In [49]:
type(z)

complex

In [50]:
type(a)

bool

In [51]:
num = int(y)
num

5

# String

### Strings are sequences of character data.

### String literals may be delimited using either single or double quotes.

In [52]:
name = "Shams yousafzai"
name

'Shams yousafzai'

In [53]:
type(name)

str

# List
### A list is a data structure in Python that is changeable, ordered sequence of elements

In [56]:
data = [30,10,10,"name"]
data

[30, 10, 10, 'name']

In [57]:
type(data)

list

# Tuple
### Tuples are sequences, just like lists
### differences between tuples and lists are, the tuples cannot be changed unlike lists, and tuples use parentheses, whereas lists use square brackets.

In [58]:
t = (2,3,3,"AFT")
t

(2, 3, 3, 'AFT')

In [59]:
type(t)

tuple